# Required
GROQ_API_KEY=
ADMIN_PASSWORD=

# Optional (shown with defaults)
ELASTICSEARCH_URI=http://localhost:9200
PODCAST_FEED_URL=https://feeds.acast.com/public/shows/0301869f-de1f-4fac-97f9-ed5bf6faab23
TRANSCRIPTION_CACHE_DIR=./transcriptions
THYMELEAF_CACHE=false
